body {
	background-color: black;
	background-image: url("img/bg.png"); 
	margin: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	border-left: 1px solid white;
	border-right: 1px solid white;
	height: 100%;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.5);
}
h1, h2, p, a {
  color: white;
  font-family:gothic;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
p, a {
  font-size: 20px;
  text-decoration: none;
}
.smol {
  font-size: 15px;
}
@font-face {
   font-family: gothic;
   src: url(../gothic.ttf);
}
.box {
	border-left: 1px solid white;
	border-right: 1px solid white;
	height: 100%;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.5);
}
.joo {
    padding-top: 95%;
}
.koko {
	width: auto;
	height: 250px;
}
