
body {
	background-attachment:fixed;
	background-color: black;
	background-image: url("img/bg.png"); 
	margin: 0px;
}
h1, h2, p, a {
  color: white;
  font-family:gothic;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
p, a {
  font-size: 20px;
}
.smol {
  font-size: 15px;
}
.btn {
  	background-color: white;
  	color: black;
  	padding: 16px 32px;
  	text-align: center;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition: 0.2s;
  	border: 1px solid lime;
  	border-radius: 1px;
}
.btn:hover {
  	background-color: gray;
  	color: black;
 	border: 1px solid  lime;
	border-radius: 2px;
}
.box {
	border-left: 1px solid white;
	border-right: 1px solid white;
	height: 100%;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.5);
}
.koko {
    height: 250px;
}
